[project]
name = "mlpype-xgboost"
authors = [
    {name = "Jeroen van den Hoven"},
]
description = "Xgboost extension for MLpype"

requires-python = ">=3.9"
version = "0.6.8"
license = {"text" = "MIT"}

dependencies = [
    "mlpype-base==0.6.8",
    "mlpype-sklearn==0.6.8",
    "xgboost>=1.6.2",
]

[project.optional-dependencies]
strict = [
    "xgboost==1.6.2",
]

[tool.uv.sources]
mlpype-base = { workspace = true }
mlpype-sklearn = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/mlpype"]

[tool.black]
line-length = 120