[flake8]
    # to match black
    max-line-length = 120
    exclude =
        tests/*
        docs/*
        .git/*    
    ignore = 
        # Imperative start of docstring
        D401
        # line break before binary operator, conflicts with black
        W503
        # Missing docstring in public module. Only complains about missing top-line comments in files.
        # Not that productive to inclue.
        D100
        # Missing docstring in public class. Since we can put docstrings in the __init__ method, this is obsolete.
        D101
        # Missing docstring in public package.  Only complains about missing top-line comments in files.
        D104 
        # Imported but unused. This one just gets things wrong often.
        F401
    add_select =
        # Does not work for now, but adding parameter checks would be useful
        D417
    
    # pep257, numpy, or google
    docstring-convention = pep257