[project]
name = "mlpype-fastapi"
authors = [
    {name = "Jeroen van den Hoven"},
]
description = "FastAPI extension for MLpype"

requires-python = ">=3.9"
version = "0.6.5"
license = {"text" = "MIT"}

dependencies = [
    "mlpype-base==0.6.5",
    "fastapi>=0.86.0",
    "anyio<4",
    "typing-extensions>=4.8.0"
]

[project.optional-dependencies]
strict = [
    "mlpype-base==0.6.5",
    "fastapi==0.86.0",
    "anyio<4",
    "typing-extensions==4.8.0"
]

dev = [
    "uvicorn==0.18.2",
]

[tool.uv.sources]
mlpype-base = { workspace = true }

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.package-data]
"*" = ["**.yaml", "**.yml"]
